<div class="banner_section about_banner">



  <div class="banner_inner">

    <div class="banner_image"><img src="{{section.settings.bannerimg | img_url:'master'}}" /></div>
    <div class="banner_content">

      <h2>{{section.settings.bannerhg}}</h2>
	  {{section.settings.bannercontent}}
      

</div>


</div>



  <ul>
    <li><a href="{{section.settigs.linkf}}"><img src="{{'facebbok.png' | asset_url }}" /></a></li>
  <li><a href="{{section.settigs.linki}}"><img src="{{'instagram.png' | asset_url }}" /></a></li>
  <li><a href="{{section.settigs.linkp}}"><img src="{{'nstagram.png' | asset_url }}" /></a></li>
   <li><a href="{{section.settigs.linke}}"><img src="{{'badge.png' | asset_url }}" /></a></li>
</ul>

</div>

<div class="about_info">

<div class="about_wrp">
<h2>{{section.settings.intro_hg}}
</h2>
{{section.settings.introcontent}}

</div>



</div>

<div class="about_leftright">
<div class="abt_lr">

<div class="abt_left_img"><img src="{{section.settings.introleftimg | img_url:'master'}}" /></div>

<div class="abt_right_img">

<div class="abt_right_padd">
<h2>{{section.settings.introrighthg}}
</h2>
{{section.settings.intrortcontent}}</div>

</div>


</div>


</div>

<div class="full_width_grey_abt">
<div class="grey_conatiner">
<h2>{{section.settings.grey_sec_hg}}</h2>
{{section.settings.greyseccontent}}
</div>


</div>

<div class="two_cols_abt">

<div class="two_abt_wrap">

<div class="two_col_content">
{{section.settings.glrc}}

</div>

<div class="two_col_image">
<img src="{{section.settings.glri | img_url:'master'}}" />

</div>

</div>


</div>

<div class="two_cols_abt img_left_abt">

<div class="two_abt_wrap">

<div class="two_col_content">
{{section.settings.glrir}}
</div>

<div class="two_col_image">
<img src="{{section.settings.glrri | img_url:'master'}}" />

</div>

</div>


</div>

<div class="abt_problem">

<div class="abt_prob_wrapper">

<div class="abt_porobl_head">
<h2>{{section.settings.icon_sec}}</h2>
{{section.settings.icon_sec_content}}
</div>

<div class="ixon_box">

<div class="ixon_box_inner">

<div class="left_icon">{% include 'man_icon'%}</div>

<div class="right_cion">
<img src="{{'sticon2.png' | file_url}}" />
<span class="count_text">{{section.settings.men_percent}}</span>
<span class="icon_content">{{section.settings.men_content}}</span>
</div>

</div>


<div class="ixon_box_inner">

<div class="left_icon">{% include 'female_icon'%}</div>

<div class="right_cion">
<img src="{{'sticon2.png' | file_url}}" />
<span class="count_text">{{section.settings.womemen_percent}}</span>
<span class="icon_content">{{section.settings.wmen_content}}</span>
</div>

</div>

</div>


</div>


</div>

<div class="abt_icons_section">
<div class="abt_icon_wtap">

<div class="abt_ico_head">
<h2>{{section.settings.icon_grey_hg}}</h2>
{{section.settings.icon_grey_hsg}}

</div>

<div class="abt_icon_body">

<div class="abt_ico_inner">
<div class="abt_icom_">{% include 'cognitive-performance' %}</div>
<div class="abt_ico_tet">
<h4>{{section.settings.icon_1_hg}}</h4>
<p>{{section.settings.icon_1_c}}</p>
</div>
</div>

<div class="abt_ico_inner">
<div class="abt_icom_">{% include 'emotional-well-being' %}</div>
<div class="abt_ico_tet">
<h4>{{section.settings.icon_2_hg}}</h4>
<p>{{section.settings.icon_2_c}}</p>
</div>
</div>

<div class="abt_ico_inner">
<div class="abt_icom_">{% include 'physical-health' %}</div>
<div class="abt_ico_tet">
<h4>{{section.settings.icon_3_hg}}</h4>
<p>{{section.settings.icon_3_c}}
</p>
</div>
</div>

<div class="abt_ico_inner">
<div class="abt_icom_">{% include 'anxiety' %}</div>
<div class="abt_ico_tet">
<h4>{{section.settings.icon_4_hg}}</h4>
<p>{{section.settings.icon_4_c}}
</p>
</div>
</div>


</div>

</div>


</div>




<div class="column_box bluebg abt_first_row">



<div class="clumn_inner clumm_image"><img src="{{section.settings.colmnleftimg | img_url:'master'}}" /></div>
<div class="clumn_inner clumm_content">
<h3>{{section.settings.colmnright_hg}}</h3>
{{section.settings.colmnright_hsg}}

</div>

</div>

<div class="column_box pinkbg abt_second_row">



<div class="clumn_inner clumm_image"><img src="{{section.settings.colmnrightimg | img_url:'master'}}" /></div>
<div class="clumn_inner clumm_content">
  <h3>{{section.settings.colmnleft_hg}}</h3>
{{section.settings.colmnleft_hsg}}
</div>

</div>


<div class="abt_violet_bg">
  <div class="abt_vio_img"><img src="{{section.settings.viloimage | img_url:'master'}}" /></div>
<div class="abt_violet_contaner">
<h2>{{section.settings.viohg}}</h2>
{{section.settings.vilocontent}}

</div>


</div>


<div class="abt_kg_section">
<div class="abt_kg_wrapper">

<div class="ab_kg_hg">
<h2>{{section.settings.abtlsthg}}
</h2>
  {{section.settings.abtlstcontg}}

</div>

<div class="abt_kg_list">
<ul>
<li>
<div class="abt_kg_list_innr">
<h5>{{section.settings.abtlsticonhg1}}</h5>
  <p>{{section.settings.abtlsticonhsg1}}</p></div>
</li>

<li>
<div class="abt_kg_list_innr">
<h5>{{section.settings.abtlsticonhg2}}</h5>
  <p>{{section.settings.abtlsticonhsg2}}</p></div>
</li>

<li>
<div class="abt_kg_list_innr">
<h5>{{section.settings.abtlsticonhg3}}</h5>
  <p>{{section.settings.abtlsticonhsg3}}</p></div>
</li>

</ul>
{{section.settings.abp}}
</div>

</div>



</div>



<div class="review_section abt_row_review">

<div class="review_wrapper">

<h2>Here’s what our customers are saying</h2>
<img src="{{'review_pic.png' | file_url }}" />
<a href="">Show more reviews</a>

</div>



</div>






{% schema %}
{
  "name": "ABOUT Blocks",
  "settings": [
    {
      "id": "bannerimg",
      "type": "image_picker",
      "label": "Banner Image"
    },
	 {
          "id": "bannerhg",
          "type": "textarea",
          "label": "banner hg"
        },
		{
          "id": "bannercontent",
          "type": "textarea",
          "label": "banner content"
        },
		 {
          "id": "intro_hg",
          "type": "textarea",
          "label": "Intro hg"
        },
		 {
          "id": "introcontent",
          "type": "textarea",
          "label": "intro content"
        },
		 {
          "id": "introleftimg",
          "type": "image_picker",
          "label": "Intro left image"
        },
		 {
          "id": "introrighthg",
          "type": "textarea",
          "label": "intro right hg"
        },
		 {
          "id": "intrortcontent",
          "type": "textarea",
          "label": "Intro right content"
        },
		 {
          "id": "grey_sec_hg",
          "type": "textarea",
          "label": "Grey section hg"
        },
		 {
          "id": "greyseccontent",
          "type": "textarea",
          "label": "grey section content"
        },
		 {
          "id": "glrc",
          "type": "textarea",
          "label": "grey leftright content"
        },
		 {
          "id": "glri",
          "type": "image_picker",
          "label": "grey leftright Image"
        },
		{
          "id": "glrri",
          "type": "image_picker",
          "label": "grey leftright Image"
        },
		 {
          "id": "glrir",
          "type": "textarea",
          "label": "grey leftright Content"
        },
		 {
          "id": "icon_sec",
          "type": "textarea",
          "label": "Icon section hg"
        },
		{
          "id": "icon_sec_content",
          "type": "textarea",
          "label": "Icon section content"
        },
		{
          "id": "men_content",
          "type": "textarea",
          "label": "men content"
        },
		{
          "id": "wmen_content",
          "type": "textarea",
          "label": "women content"
        },
		{
          "id": "men_percent",
          "type": "text",
          "label": "men percentage"
        },
		{
          "id": "womemen_percent",
          "type": "text",
          "label": "women percentage"
        },
		{
          "id": "icon_grey_hg",
          "type": "text",
          "label": "grey icon hg"
        },
		{
          "id": "icon_grey_hsg",
          "type": "textarea",
          "label": "grey icon content"
        },
		{
          "id": "icon_1_hg",
          "type": "text",
          "label": "icon 1 hg"
        },
		{
          "id": "icon_2_hg",
          "type": "text",
          "label": "icon 2 hg"
        },
		{
          "id": "icon_3_hg",
          "type": "text",
          "label": "icon 3 hg"
        },
		{
          "id": "icon_4_hg",
          "type": "text",
          "label": "icon 4 hg"
        },
		{
          "id": "icon_1_c",
          "type": "textarea",
          "label": "icon 1 content"
        },
		{
          "id": "icon_2_c",
          "type": "textarea",
          "label": "icon 2 content"
        },
		{
          "id": "icon_3_c",
          "type": "textarea",
          "label": "icon 3 content"
        },
		{
          "id": "icon_4_c",
          "type": "textarea",
          "label": "icon 4 content"
        },
		{
          "id": "colmnleftimg",
          "type": "image_picker",
          "label": "column left image"
        },
		{
          "id": "colmnright_hg",
          "type": "textarea",
          "label": "column right heading"
        },
		{
          "id": "colmnright_hsg",
          "type": "textarea",
          "label": "column right content"
        },
		{
          "id": "colmnrightimg",
          "type": "image_picker",
          "label": "column right image"
        },
		{
          "id": "colmnleft_hg",
          "type": "textarea",
          "label": "column left heading"
        },
		{
          "id": "colmnleft_hsg",
          "type": "textarea",
          "label": "column left content"
        },
		{
          "id": "vilocontent",
          "type": "textarea",
          "label": "viloet bar content"
        },
{
          "id": "viloimage",
          "type": "image_picker",
          "label": "viloet bar image"
        },
		{
          "id": "viohg",
          "type": "text",
          "label": "viloet bar heading"
        },
		{
          "id": "abtlsthg",
          "type": "textarea",
          "label": "about last heading"
        },
		{
          "id": "abtlstcontg",
          "type": "textarea",
          "label": "about last content"
        },
		{
          "id": "abtlsticonhg1",
          "type": "text",
          "label": "about one icon  heading"
        },
		{
          "id": "abtlsticonhg2",
          "type": "text",
          "label": "about one icon  heading"
        },
		{
          "id": "abtlsticonhg3",
          "type": "text",
          "label": "about one icon  heading"
        },
		{
          "id": "abtlsticonhsg1",
          "type": "text",
          "label": "about one icon sub heading"
        },
		{
          "id": "abtlsticonhsg2",
          "type": "text",
          "label": "about two icon sub heading"
        },
		{
          "id": "abtlsticonhsg3",
          "type": "text",
          "label": "about last icon sub heading"
        },
		{
          "id": "abp",
          "type": "textarea",
          "label": "about last paragraph"
        }
		
  ],
  "presets": [
    {
      "name": "ABOUT Blocks",
      "category": "ABOUT Blocks"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}