<div class="blanket_boxes">

<div class="blanket_boxes_wrapper">

<div class="blanket_hg"><h2>{{section.settings.text-box}}</h2></div>

<div class="blanket_ul">

{% for block in section.blocks %}

<div class="blanket_li">

<div class="blanket_image"><img src="{{block.settings.img | img_url:'master'}}" /></div>
<div class="blanket_content">
<h4>{{block.settings.hg}}</h4>
<p>{{block.settings.content}}</p>

</div>

</div>

{% endfor %}



</div>

<a href="{{section.settings.link}}">{{section.settings.linktext}}</a>
</div>


</div>
{% schema %}
{
  "name": "homepage hndmade blnket ",
	"max_blocks": 3,
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading"
    },
	{
          "id": "link",
          "type": "url",
       		"label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "button text"
        }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add Button",
      "settings": [
        {
          "id": "img",
          "type": "image_picker",
       		"label": "iamge"
        },
        {
          "id": "hg",
          "type": "text",
          "label": "heading"
        },
{
          "id": "content",
          "type": "textarea",
          "label": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "homepage hndmade blnket ",
      "category": "homepage hndmade blnket ",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}