<div class="instagram_section">
<div class="instgarm_wrapper">
<h2>{{section.settings.text-box}}</h2>
<ul>

<li>
<img src="{{'insa1.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>

<li>
<img src="{{'insta2.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>

<li>
<img src="{{'insat3.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>

<li>
<img src="{{'insat4.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>


<li>
<img src="{{'insta5.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>


<li>
<img src="{{'inst6.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>


<li>
<img src="{{'insta7.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>


<li>
<img src="{{'insta8.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>

<li>
<img src="{{'insta9.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>
<li>
<img src="{{'insta10.jpg' | file_url }}" />
<a href="" class="insta_hover">
<span></span>
<span>@snuzilife</span>	
</a>
</li>

</ul>




</div>



</div>
{% schema %}
{
  "name": "homepage-instagram",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "homepage-instagram",
      "category": "homepage-instagram"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}